<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4   gap-y-20 mt-24 gap-x-6 ">
    @for (nameFood of nameFood; track $index) {
        <div class="card meal text-center hover:shadow-xl group  hover:scale-105 duration-300 transition-all bg-white p-12 pb-4  rounded-[35px]">    
            <img     class="w-full group-hover:rotate-[360deg] duration-700 transition-all rounded-full drop-shadow-xl  -translate-y-20  shadow-2xl" [src]="nameFood.strMealThumb " alt="">

           
            <h2 class="text-style font-semibold -mt-12 font-Pacifico tracking-wider	 text-xl"> {{nameFood.strMeal.split(" ").slice(0,2).join(" ")}}</h2>
            <button   [routerLink]="['/details',nameFood.idMeal]"  class="text-white bg-gradient-to-r mt-4 bg-emerald-500 hover:bg-emerald-600 font-semibold hover:shadow-lg hover:scale-105 transition-all duration-300  px-8 py-2 rounded-full"> View Recipe</button>
        </div>
        
    }
    

</div>
