

<div class="container py-8 px-4 bg-[#F4F2EE]">
  <h1 class="pacifico-regular text-4xl font-bold bg-gradient-to-r from-red-500 via-yellow-500  bg-clip-text text-transparent">
    Learn, Cook, Eat Your Food
  </h1>

  <div >
    <ul class="sm:flex hidden mt-8 flex-wrap gap-4 font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
      <li>     
        <a class="inline-block border rounded-full transition-all hover:shadow-xl shadow duration-300 px-4 py-2 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"  routerLinkActive="bg-black text-white" routerLink="All">All</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="beaf">Beaf</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="breakfast">Breakfast</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="chiken">chiken</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="desrt">Dessert</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="goat">Goat</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="lam">Lamb</a>
      </li>
      
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="misceallanos">Miscillaneous</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="pasta">Pasta</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="park">Park</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="seafood">Seafood</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="side">Side</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="starter">Starter</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="vegn">Vegan</a>
      </li>
  
      <li class="me-2">
        <a class="inline-block px-4 py-2 transition-all rounded-full border border-gray-400 hover:shadow-xl shadow duration-300 hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLinkActive="bg-black text-white" routerLink="vegetrian">Vegetrian</a>
      </li>
  
    </ul>
  </div>
</div>





